<p>Kính gửi: CÔNG TY CỔ PHẦN QUỐC TẾ THƯƠNG MẠI VÀ DỊCH VỤ VIỆT PHÁP,</p>
<p>Chi tiết sao kê được đính kèm trong email này để Quý Công ty tiện theo dõi và đối chiếu.</p>
<p>Kính mong Quý Công ty kiểm tra và thanh toán số tiền dịch vụ trước ngày {{.DueDate}}.</p>
<p><strong>Thông tin thanh toán:</strong></p>
<ul>
  <li>Tổng tiền đã ứng: {{.TotalPaid}}</li>
  <li>Phí dịch vụ: {{.FeeAmount}}</li>
  <li>Tổng tiền thanh toán: {{.TotalCollect}}</li>
</ul>
<p><strong>Thông tin chuyển khoản:</strong><br>
Chủ tài khoản: NGUYEN VIET DUNG<br>
Số tài khoản: 1357210887<br>
Ngân hàng: TECHCOMBANK</p>
<p>Trân trọng cảm ơn Quý Công Ty đã hợp tác và tin tưởng sử dụng dịch vụ của TingTing.</p>
<p>Trân trọng,<br>Dịch vụ thanh toán TingTing</p>
